$main-color: #008aa1;
$off-white: #ddf2f3;
$dark: darken(#fff, 30%);
$invert: invert(black);

:root {
  font: 16px / 1 sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  color: $invert;
}

html {
  height: 100%;
}

img {
  margin-top: 2%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: $main-color;
  justify-content: center;
  align-items: center;
}

nav {
  a {
    $flex: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
  }
}

.white {
  color: $dark;
}

.container {
  background-color: $main-color;
  margin-right: 10%;
  margin-left: 10%;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  background-color: $off-white;
  padding: round(0.6rem);
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.navbar-top {
  display: flex;
  justify-content: space-evenly;
  background-color: #00bfd5;
  padding: 0.2rem;
}

.navbar-top {
  a {
    color: $dark;
  }
}
.blue-background {
  background-color: $off-white;
  margin: 0px;
}

.side-div {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid blue;
  padding: 1%;
  justify-content: flex-start;
  width: 20%;
  height: round(23.3rem);
}

.kitteh-list {
  li {
    margin: 0;
    color: darken(#fff, 30%);
  }
}

.right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
  float: right;
  padding: 10;
}

.footer {
  background-color: #d3d3d3;
}

.navbar-bottom {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  align-content: center;
  justify-content: space-evenly;
  color: $invert;
  text-decoration: none;
  padding: 1rem;
}
